.cart-item {
  width: 100%;
  display: flex;
  height: 80px;
  margin-bottom: 15px;
}
.mobile-cart-img {
  width: 30%;
}
.mobile-cart-img img {
  width: 65px;
  height: 100%;
}

.item-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
}
.item-details .name {
  margin-bottom: 1em;
}

.name,
.cart-price {
  font-size: 1rem;
  width: 100%;
}

.cart-price {
  display: flex;
}

@media screen and (max-width: 800px) {
  .cart-item {
    height: 90px;
    justify-content: space-around;
  }
  .mobile-cart-img {
    width: 30%;
  }
  .cart-item img {
    width: 110px;
    height: 100%;
    object-fit: center;
  }
  .item-details {
    width: 50%;
    align-items: flex-start;
  }

  .cart-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
