.cart-dropdown {
  position: absolute;
  width: 340px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;
}

.cart-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding-top: 1em;
}

button {
  margin-top: auto;
  width: 99%;
}

.empty-message {
  font-size: 1.2rem;
  margin: 50% auto;
}

@media screen and (max-width: 800px) {
  .cart-dropdown {
    position: fixed;
    top: 170px;
    height: 60vh;
    width: 80%;
    right: 15px;
  }
  .cart-items {
    display: flex;
    flex-direction: column;
  }
}
