.overlay {
  flex: 1 0 auto;
  text-align: center;
  margin: 0.5em;
  width: 30vw;
  height: 35vh;
  opacity: 1;
  z-index: 1;
}

.overlay:hover {
  opacity: 0.9;
  transition: 0.5s;
}

.menu-container {
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

.large {
  height: 40vh;
}

.item-container {
  width: 100%;
  padding: 1em 0;
  background: black;
  color: white;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  border: 1px solid #181818;
  box-sizing: border-box;
}

.item-container:hover {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  opacity: 1;
}

.title {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.1rem;
}

@media screen and (max-width: 800px) {
  .overlay {
    width: 100%;
    margin: 0.5em auto;
  }
  .large {
    height: 100%;
  }
  .item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
